.alertSlideIn {
    /*animation: 3s infinite alternate slidein;*/
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    
    
   /* //bg-red-100;
    //rounded-lg;
    //x-show: isOpen;
*/
    /*transition-name: slidein;
    transition-duration: 5s;
    transition:enter-start="opacity-0 scale-95";
    x-transition:enter-end="opacity-100 scale-100";
    x-transition:leave="transition ease-in duration-75 transform";
    x-transition:leave-start="opacity-100 scale-100";
    x-transition:leave-end="opacity-0 scale-95";*/
}